<div class="spinner" *ngIf="wrapper.length == 0">
  <mat-spinner></mat-spinner>
</div>
<div class="wrapper" (mouseleave)="closePopUp()">
    <ng-container [class.openPopUp]="popUp" *ngFor="let item of wrapper">
        <div class="item" (mouseenter)="openPopUp(item)">
            <div class="item-top">              
                <img *ngIf="item.name" [src]="'../../assets/' + item.name + '.png'" height="20" alt="{{item.name}} icon">
              <span style="margin-top: 10px; font-weight: 600;">{{item.name}}</span>
            </div>
            <div class="item-bottom">
              <p class="item-price">{{item.s | currency: 'USD'}}</p>
              <div class="item-change">
                <span class="item-change-value" [ngClass]="{'positive': item.c > 0, 'negative': item.c < 0}">
                  {{item.c | currency: '%'}}
                </span>
                <img *ngIf="item.c > 0" src="../../assets/up-trend-arrow-flat-icon-vector-40754071-removebg-preview.png" width="30" alt="Trending up">
                <img *ngIf="item.c < 0" src="../../assets/1307062.png" width="30" alt="Trending down">
              </div>
            </div>
            <app-popup class="popUp" [item]="itemDetail" [hoveredItem]="hoveredItem" *ngIf="popUp && hoveredItem == item"></app-popup>
          </div>
        </ng-container>
  </div>