<div class="item" *ngIf="item">
  <div class="popUp-info">
    <div>
      <button mat-stroked-button (click)="isChart = false">Today</button>
      <button [disabled]="allData[1] == null && this.allData[0].name != 'USD'" mat-stroked-button (click)="changeChartTime('M')">Monthly</button>
      <button [disabled]="allData[1] == null && this.allData[0].name == 'USD'" mat-stroked-button (click)="changeChartTime('Y')">Yearly</button>
    </div>
    <ul *ngIf="!isChart">
      <li>Current price:  <span [ngClass]="itemName.c > 0 ? 'positive': 'negative'">{{hoveredItem.s | currency: 'USD'}}</span></li>
      <li *ngIf="hoveredItem.l">Lowest price of the day: {{hoveredItem.l | currency: 'USD'}}</li>
      <li *ngIf="hoveredItem.h">Highest price of the day: {{hoveredItem.h | currency: 'USD'}}</li>
      <div class="calculate">
        <input 
          placeholder="1"
          type="number" 
          (keyup)="calculateCurrency()" [(ngModel)]="basePrice">
        <input 
          disabled
          type="number" 
          [value]="hoveredItem.s" >
        <span *ngIf="resultPrice != 0 && resultPrice"> = {{resultPrice | currency: "USD"}}</span>
      </div>
    </ul>  
  </div>
  <div *ngIf="isChart" class="chart-container">
    <canvas baseChart 
    class="chart"    
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType">
    </canvas>
  </div>
</div>
<mat-progress-spinner *ngIf="!item"></mat-progress-spinner>