.modal{
    max-width: 600px;
    min-width: 320px;
    padding: 10px;
    .modal-top{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .chart-container{
        overflow: auto;
        width: 500px;
        height: 300px;
    }
    .spinner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        & > *{           
            width: 60px;
            height: 60px;
        }
    }
}